* {
    /* Reset CSS */
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}

header {
    background-color: rgb(2, 2, 2, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 80px;
}

body {
    width: 100%;
    background: linear-gradient(180deg, rgba(2, 2, 2, 1) 0%, rgba(35, 30, 68, 1) 25%, rgba(60, 51, 117, 1) 50%, rgba(85, 73, 167, 1) 75%, rgba(117, 100, 229, 1) 100%);
    background-image: url("./imagens/background-texto-explicacao-provisorio.jpg");

}

.container-content {
    max-width: 91rem;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(2, 2, 2, 0.85);
}

.section-infos>p {
    max-width: 60rem;
    margin: 0 auto;
}

footer {
    background: #020202;
    min-height: 300px;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media img {
    width: 30px;
    height: auto;
}

.planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1rem;
}
.card-planos {
    flex-basis: 27%;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    display: block;
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    border: 2px solid #B573FA;
    box-shadow: 3px 3px 30px #B573FA;

}
.image-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
span.valor {
    display: block;
    color: #FAFA4D;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.icon-1 {
    margin-bottom: 10px;
}

.icon-2 {
    margin-top: 50px;
}
.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
    background-color: #FA7A41;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #B573FA;
}
.itens {
    min-width: fit-content;
    width: calc(20% - 95px);
    height: 200px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid #41FAE4;
    box-shadow: 3px 3px 40px #000000;
}

.card-itens {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itens:hover .card-itens {
    transform: rotateY(180deg);
}

.card-itens ol {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-itens ol {
    transform: rotateY(180deg);
    color: #FAFA4D;
    background-color: #000000db;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-itens ol {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-itens ol li {
    padding: 5px 0;
}


