* {
  /* Reset CSS */
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  /* Adiciona fonte*/
  font-family: 'Exo 2', sans-serif;
}

body {
  width: 100%;
  background: linear-gradient(180deg, rgba(2, 2, 2, 1) 0%, rgba(35, 30, 68, 1) 25%, rgba(60, 51, 117, 1) 50%, rgba(85, 73, 167, 1) 75%, rgba(117, 100, 229, 1) 100%);
}

/* AQUI COMEÇA A ESTILIZAÇÃO DO HEADER */
header {
  background-color: rgb(10, 15, 20, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 4.25rem;
}

.btn-home {
  border-radius: 32px;
  padding: 8px 16px;
  font-size: 10px;
  letter-spacing: 0.9px;
  transition: all 0.2s;
}

.btn-home:hover {
  background-color: #F2C9F2;
  color: #0A0F14;
}

.btn-login {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #F2C9F2;
}

.btn-lista-espera {
  background-color: #51D93D;
  color: #0A0F14;
  border: 2px solid transparent;
}

/* AQUI TERMINA A ESTILIZAÇÃO DO HEADER */

/* AQUI COMEÇA A ESTILIZAÇÃO DO CAROUSEL */
.carousel-home {
  margin-top: 4.25rem;
  height: calc(100vh - 4.25rem);
  margin-top: 4.25rem;
}

.carousel-item {
  height: calc(100vh - 4.25rem);
  background-size: cover;
}

.carousel-item.item-1 {
  background-image: url("./img/carrossel-imagem-provisoria-1.png");
}

.carousel-item.item-2 {
  background-image: url("./img/carrossel-imagem-provisoria-2.png");
}

.carousel-item.item-3 {
  background-image: url("./img/carrossel-imagem-provisoria-3.png");
}

.overlay {
  width: 100%;
  height: calc(100vh - 4.25rem);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(2, 2, 2, 0.65);
}

.carousel-caption>h2 {
  font-size: 50px;
  color: #b908f6;
  font-weight: 700;
}

.carousel-caption>p {
  color: #FFFFFF;
}

/* AQUI TERMINA A ESTILIZAÇÃO DO CAROUSEL */

/* AQUI COMEÇA A ESTILIZAÇÃO DA SEÇÃO INFORMAÇÕES */
.section-infos {
  background-image: url("./img/background-texto-explicacao-provisorio.jpg");
  min-height: 100vh;
}

.overlay-infos {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 15, 20, 0.85);
}

.container-infos {
  max-width: 47rem;
  margin: 0 auto;
}

.container-infos>h3 {
  max-width: 47rem;
  color: #51D93D;
}

.container-infos>p {
  max-width: 47rem;
  margin: 0 auto;
}

.infos-boxes>h4 {
  letter-spacing: 0.9;
  color: #51D93D;
}

.infos-boxes>ul>li {
  list-style: none;
  line-height: 1.9;
}

.infos-boxes>ul>li::before {
  content: "";
  display: inline-block;
  background-image: url(./img/star-fill.svg);
  height: 12px;
  width: 12px;
  background-size: contain;
  background-repeat: repeat;
  margin-right: 8px;
}

.box-plan {
  width: 19.25rem;
  background: rgba(3, 55, 77, 0.396);
  border-radius: 8px;
  padding: 25px;
  min-height: 15rem;
  position: relative;

}

.box-plan.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #02B0DC, 0 0 4px 2px #02B0DC;
  box-shadow: 0 0 17px 3px #02B0DC, 0 0 4px 2px #02B0DC;
  border-radius: 8px;
}

.box-plan.active>span {
  border-radius: 24px;
  background: linear-gradient(46deg, #5b16bd, #b908f6);
  padding: 4px 8px;
  letter-spacing: 0.9px;
  font-size: 12px;
  height: 24px;
  top: -12px;
}

.box-plan.no-active {
  border: 2px solid #02B0DC;
}

.blur-card-home {
  backdrop-filter: blur(8px);
}

.text-valor {
  color: #51D93D;
}

/* AQUI TERMINA A ESTILIZAÇÃO DA SEÇÃO INFORMAÇÕES */

/* AQUI COMEÇA A ESTILIZAÇÃO DO FOOTER */

/* Estou utilizando utilitários CSS do Bootstrap, 
portanto para funcionar deve importar o CSS do 
Bootstrap presente na index. */

footer {
  background: #0A0F14;
  height: 136px;
}

.logo-footer {
  width: 130px;
}

.nav-footer>li a {
  color: #ffffff;
}

.nav-footer>li a.active {
  color: #51D93D;
}

.nav-footer>li a:hover {
  color: #b908f6;
}

.social-media img {
  width: 1.50rem;
  height: auto;
  opacity: 0.8;
}

.social-media img:hover {
  opacity: 1;
}

/* AQUI TERMINA A ESTILIZAÇÃO DO FOOTER */