* {
  /* Reset CSS */
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;

  /* Adiciona fonte*/
  font-family: 'Exo 2', sans-serif;
}

/* Linear Background para todas as páginas */

body {
  width: 100%;
  /* height: 100vh; */
  background: linear-gradient(180deg, rgba(2, 2, 2, 1) 0%, rgba(35, 30, 68, 1) 25%, rgba(60, 51, 117, 1) 50%, rgba(85, 73, 167, 1) 75%, rgba(117, 100, 229, 1) 100%);
}

header {
  background-color: rgba(0, 2, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 4.25rem;
}

.container-content {
  max-width: 50rem;
  margin: 0 auto;
}

.btn-home {
  border-radius: 24px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.9px;
  transition: all 0.2s;
}

.btn-home:hover {
  background-color: #BAA0F2;
  color: #000200;
}

.btn-login {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #BAA0F2;
}

.btn-lista-espera {
  background-color: #51D93D;
  color: #000200;
  border: 2px solid transparent;
}

.carousel-home {
  margin-top: 4.25rem;
  height: calc(100vh - 4.25rem);
  margin-top: 4.25rem;
}

.carousel-item {
  height: calc(100vh - 4.25rem);
  background-size: cover;
}

.carousel-item.item-1 {
  background-image: url("../img/carrossel-imagem-provisoria-1.png");
}

.carousel-item.item-2 {
  background-image: url("../img/carrossel-imagem-provisoria-2.png");
}

.carousel-item.item-3 {
  background-image: url("../img/carrossel-imagem-provisoria-3.png");
}

.carousel-caption>h2 {
  font-size: 50px;
  color: #F601FF;
  font-weight: 700;
}

.carousel-caption>p {
  font-size: 20px;
  color: #FFFFFF;
}

.overlay {
  width: 100%;
  height: calc(100vh - 4.25rem);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(2, 2, 2, 0.65);
}

.section-infos {
  background-image: url("../img/background-texto-explicacao-provisorio.jpg");
  min-height: 100vh;
  animation: backgroundmove 35s infinite alternate;
}

@keyframes backgroundmove {
  0% {
    background-position-x: 0%;

  }

  100% {
    background-position-x: 100%;
  }
}

.section-infos>p {
  max-width: 60rem;
  margin: 0 auto;
}

.overlay-infos {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(5, 2, 24, 0.85);
}

.infos-boxes>p {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.9;
}

/* .infos-boxes>ul {
  max-width: 50rem;
} */

.infos-boxes>ul>li {
  list-style: none;
  font-size: 17px;
  line-height: 1.9;
}

.infos-boxes>ul>li::before {
  content: "";
  display: inline-block;
  background-image: url(../img/star-fill.svg);
  height: 12px;
  width: 12px;
  background-size: contain;
  background-repeat: repeat;
  margin-right: 8px;
}

/* .section-plans {
  background-color: rgb(5, 2, 24, 0.85);
  height: 350px;
  height: 100vh;
} */

.box-plan {
  width: 19.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(117, 100, 229, 0.5) 45%, transparent 100%);
  border-radius: 8px;
  padding: 25px;
  min-height: 15rem;
  position: relative;
  background-color: rgb(5, 2, 24, 0.85)
}

.box-plan.active>span {
  border-radius: 24px;
  /* TODO: TROCAR COR DO GRADIENTE */
  background: linear-gradient(46deg, #5b16bd, #b908f6);
  padding: 4px 8px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.9px;
  font-size: 12px;
  position: absolute;
  height: 24px;
  top: -12px;
}

.box-plan.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px #02B0DC, 0 0 4px 2px #02B0DC;
  box-shadow: 0 0 17px 3px #02B0DC, 0 0 4px 2px #02B0DC;
  border-radius: 8px;
}

.box-plan.no-active {
  border: 2px solid #02B0DC;
}

/* Aqui começa a estilização do footer */
/* Estou utilizando utilitários CSS do Bootstrap, portanto para funcionar deve importar o CSS do Bootstrap presente na index. */

footer {
  background: #020202;
  height: 136px;
}

.logo-footer {
  width: 130px;
}

.text-detail {
  font-size: 15px;
}

.social-media {
  display: flex;
  gap: 1rem;
}

.social-media img {
  width: 1.50rem;
  height: auto;
  opacity: 0.8;
}

.social-media img:hover {
  opacity: 1;
}

.nav-footer>li a {
  color: #ffffff;
}

.nav-footer>li a.active {
  color: #51D93D;
}

.nav-footer>li a:hover {
  color: #b908f6;
}

/* .active {
  color: #;
} */

/* Aqui termina a estilização do footer */