/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Linear Background para todas as páginas */

body {
  width: 100%;
  height: 100vh;
  background: rgb(2, 2, 2);
  background: linear-gradient(180deg, rgba(2, 2, 2, 1) 51%, rgba(117, 100, 229, 1) 100%);
}